@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <div class="page-content">
        @Body
    </div>

    <footer>
        <p>© @DateTime.Now.Year Alexander. Unity / C# Developer</p>
    </footer>
</div>